@charset "utf-8";

@import url(./style.css);
@import url(./font.css);
@import url(./layout.css);
@import url(./all.css);

.joinCheck label, .joinBtn button, .buisnessLog input, .time{
    font-family: 'NanumSquareR', sans-serif;
}
.main .login , .memberselect button{
    font-family: 'NanumSquareL', sans-serif;
}
.snsLogin button, .custom-checkbox-label button, .buisnessLog th, .buisnessLog table button{
    font-family: 'NanumSquareEB', sans-serif;
}

.main{
    border-top: 1px solid #c9c9c9;
}
.main form{
    width: 500px;
    margin: 0 auto;
}
.main .login{
    text-align: center;
    padding-top: 70px;
    padding-bottom: 51px;
    font-size: 2.250em;
    letter-spacing: -2px;
}
.membertab{
    width: 100%;
    height: inherit;
}
.memberselect{
    width: 100%;
    display: flex;
    gap: 2px;
    height: 50px;
    margin-bottom: 42px;
}
.member{
    width: 50%;
}
.buisnessmember{
    width: 50%;
}

/* memberLog */

.memberselect button{
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0 ;
    border: none;
    font-size: 1.125em;
    text-align: left;
    padding-left: 20px;
    padding-top: 8px;
    color: #fff;
    font-weight: bold;
    letter-spacing: -.5px;
    background: #898989;
}
.memberselect button.clickBtn{
    background: #004ea2;
}
.snsLogin button{
    height: 65px;
    width: 100%;
    margin-bottom: 10px;
    border: none;
    color: #fff;
    font-size: 1.125em;
    letter-spacing: -.5px;
}
.snsLogin .kakao{
    background: #ffdf00;
    color: #000;
}
.naver{
    background: #00c739;
}
.google{
    background: #f85e6a;
}
.serviceCall{
    display: block;
    margin: 11px 0 14px;
    color: #898989;
    letter-spacing: -2px;
}
.serviceCall span{
    letter-spacing: -1px;
}
.underbar{
    color: #898989;
}


/* checkbox */
.join{
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
    margin-bottom: 38px;
}
.joinCheck{
    position: relative;
    top: 7px;
}
.joinCheck label{
    display: block;
    cursor: pointer;
    letter-spacing: -.5px;
}
.joinCheck label{
    font-size: 0.875em;
    color: #898989;
    margin-bottom: 16px;
    display: flex;
    width: 230px;
    justify-content: space-between;
}
.custom-checkbox-label {
    position: relative;
    display: inline-block;
    padding-left: 30px; 
    cursor: pointer;
    font-weight: bold;
}

.custom-checkbox-label input[type="checkbox"] {
    display: none; 
}

.checkbox-image {
    position: absolute;
    top: -3px;
    left: 0;
    width: 20px; 
    height: 20px; 
    background-image: url('../img/checkbox.png'); 
    background-size: contain; 

}
.custom-checkbox-label input[type="checkbox"]:checked + .checkbox-image {
    background-image: url('../img/checked.png'); 
}

.joinCheck label button{
    font-size: 0.750em;
    width: 80px;
    height: 21px;
    border: none;
    position: absolute;
    right: 0;
    top: -4px;
    background: #898989;
    color: #fff;
}
.custom-checkbox-label input[type="checkbox"]:checked + span.checkbox-image + button {
    background-color: #004ea2;
    color: white; /* Optional: Change text color */
}
.joinBtn button{
    width: 200px;
    height: 55px;
    background: #898989;
    border: none;
    font-weight: bold;
    font-size: 15px;
    color: #fff;
    letter-spacing: -.5px;
}





/* buisnessLog */
.buisnessLog{
    display: none;
}
.buisnessLog th{
    text-align: left;
    font-size: 0.938em;
    color: #898989;
    letter-spacing: -.5px;
    width: 110px;
}
.buisnessLog tr{
    position: relative;
}
.buisnessLog input{
    height: 45px;
    background: #004ea2;
    border: none;
    margin-bottom: 9px;
    color: #a2c1e3;
    outline: none;
    font-weight: bold;
    padding-left: 14px;
    font-size: 0.813em;
    width: 374px;
}
.buisnessLog input:focus::placeholder{
    color: transparent;
  }
.buisnessLog input::placeholder{
    color: #a2c1e3;
}
.buisnessLog input.telW, .telWBtn{
    width: 184px;
}
.buisnessLog table button{
    height: 47px;
    border: none;
    color: #fff;
    background: #000;
}
.buisnessLog .telWBtn{
    position: absolute;
    right: 0;
    padding: 1px 0;
    font-size: 0.938em;
    color: #898989;
}
.buisnessLog table button.submit{
    width: 390px;
    margin-top: 28px;
    height: 52px;
    font-size: 1.063em;
    margin-bottom: 52px;
}
.time{
    font-size: 0.750em;
    font-weight: bold;
}
input[type=password]{
    font-family: '굴림';
}



.Copyright{
    margin-bottom: 91px;
    color: #898989;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.750em;
    text-transform: uppercase;
    letter-spacing: -.3px;
}