@charset "utf-8";

@import url(./style.css);
@import url(./font.css);
@import url(./layout.css);
@import url(./all.css);
@import url(./product.css);
@import url(./productDetail.css);


.viewDetailsRTop p,.viewDetails h3, .productNumber, .viewDetailsRTop h4, .viewDetailsbottomRFlex, .bigF, .AdditionalProduct input, .finalPriceSmallf, .DetailSigongBtn button,.viewDetailsbottomLBtm p, .AdditionalProduct span, .AdditionalProduct label{
  font-family: 'NanumSquareL', sans-serif;
}
 .viewDetailsRMiddleL,.twoBtn button,.selectBoxItem .bestProduct th button,.viewDetailsRMiddle span, .smallF, .sum strong, .sum .finalPrice span, .AdditionalProduct strong,.Additional{
  font-family: 'NanumSquareR', sans-serif;
}
.viewDetailsRMiddle strong, .percent strong, .viewDetailsbottomLTop strong{
  font-family: 'NanumSquareEB', sans-serif;
}
.percent span,.totalR, .DetailSigongBtn button:hover, .minitxt{
  font-family: 'NanumSquareB', sans-serif;
}
.selectBoxItem .bestProduct input {
  font-family: 'SCDream2', sans-serif;
}

.viewDetails{
  width: 100%;
  padding-top: 67px;
  margin-bottom: 20px;
}
.viewDetails h3{
  font-size: 1.250em;
  color: #163043;
  padding-bottom: 30px;
  font-weight: bold;
}
.DetailWrap{
  display: flex;
  gap: 18px;
}
.viewDetailsL{
  width: 480px;
  height: 480px;
  border: 1px solid #89898959; 
  position: relative;
}
.productNumber{
  position: absolute;
  left: 0;
  top: 0;
  background: #000;
  color: #fff;
  width: 155px;
  height: 25px;
  font-size: 0.813em;
  text-align: center;
  line-height: 25px;
  letter-spacing: -.5px;
  font-weight: bold;
}
.productNumber span{
  padding-left: 3px;
}
.mainPhoto{
  width: 100%;
  height: 100%;
  background: url(../img/product1.png) no-repeat center;
  background-size: contain;
}
.viewDetailsR{
  width: 900px;
  position: relative;
  height: 478px;
}
.viewDetailsRTop{
  padding-bottom: 17px;
  display: flex;
  justify-content: space-between;
  align-items: end;
  border-bottom: 1px solid #c9caca;
}
.viewDetailsRTop h4{
  color: #000;
  font-size: 1.875em;
  font-weight: normal;
}
.viewDetailsRTop p{
  font-size: 0.750em;
  color: #898989;
}
.viewDetailsRBorder{
  width: 180px;
  height: 3px;
  background: #004ea2;
  position: relative;
  top: -3px ;
}
.viewDetailsRMiddle{
  margin-top: 20px;
  display: flex;
  padding-bottom: 20px;
  border-bottom: 1px solid #c9caca;
  align-items: center;
}
.viewDetailsRMiddle strong{
  font-weight: bold;
  font-size: 0.875em;
  padding-right: 5px;
}
.viewDetailsRMiddle span{
  font-size: 0.875em;
  color: #898989;
}
.viewDetailsRMiddleL{
  display: flex;
  gap: 15px;
}
.viewDetailsRMiddleL > div::after{
  content: "·";
  color: #000;
  padding-left: 10px;
}
.viewDetailsRMiddleL > div:last-child:after{
  display: none;
}
.viewDetailsRMiddleR{
  text-align: end;
}
.viewDetailsRMiddleR:nth-child(1) span.bon{
  top: 0;
}
.viewDetailsRMiddleR label{
  font-size: 0.813em;
  font-weight: bold;
  color: #000;
  padding-left: 10px;
}
.viewDetailsRMiddleR label input{
  width: 45px;
  height: 30px;
  border: none;
  background: #f0f0f0;
  text-align: center;
  font-weight: bold;
  margin-left: 3px;
}
.viewDetailsRMiddleR span{
  color: #727272;
}
.viewDetailsRMiddleR:nth-child(1) span{
  position: relative;
  top: 3px;
}
.viewDetailsRMiddleR label input:focus{
  outline: none;
}
.viewDetailsRMiddleR label input:focus::placeholder{
  color: transparent;
}
.viewDetailsbottom{
  display: flex;
  justify-content: space-between;
  height: 372px;
}
.viewDetailsbottomL{
  width: 494px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 65px ;
}
.percent{
  display: flex;
  padding-bottom: 24px;
}
.percent > div{
  padding-right: 20px;
}
.percent > div:last-child{
  padding-right: 0;
}
.percent strong{
  font-weight: bold;
  font-size: 0.875em;
}
.percent span{
  font-size: 0.938em;
  color: #727272;
  font-weight: bold;
}
.percent strong.naverColor{
color: #22a21b;
}
.viewDetailsbottomLTop strong{
  font-weight: bold;
  font-size: 0.875em;
}
.bigFWrap{
  display: flex;
  margin-bottom: 60px;
}
.bigFWrap strong{
  padding-right: 11px;
}
.bigF{
  font-size: 2.813em;
  line-height: 0.7;
}
.smallF{
  font-size: 1.250em;
  line-height: 2;
}
.viewDetailsbottomLBtm{
  width: 390px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.viewDetailsbottomLBtm p{
  font-size: 0.813em;
  color: #898989;
  width: 357px;
  line-height: 21px;
  letter-spacing: -.5px;
  font-weight: normal;
  padding-top: 35px;
}
.viewDetailsImgBoxWrap{
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: end;
}
.viewDetailsImgBox{
  width: 83px;
  height: 83px;
  border: 1px solid #c9caca;
}
.viewDetailsImgBoxBorder{
  box-shadow: 0 0 0 2px #004ea2 inset;
  border: 1px solid #004ea2;
}
.viewDetailsImgBox4{
  background: url(../img/productDetails1.png) no-repeat;
  background-size: cover;
}
.viewDetailsImgBox3{
  background: url(../img/productDetails2.png) no-repeat;
  background-size: cover;
}
.viewDetailsImgBox2{
  background: url(../img/productDetails3.png) no-repeat;
  background-size: cover;
}
.viewDetailsImgBox1{
  background: url(../img/product1.png) no-repeat;
  background-size: contain;
}

.viewDetailsbottomR{
  width: 405px;
  position: relative;
  padding-top: 13px;
}
.AdditionalWidth{
  width: 360px;
  margin-left: 45px;
}
.Additional{
  font-size: 1em;
  padding-bottom: 10px;
  font-weight: bold;
  border-bottom: 1px solid #c9caca;
}
.AdditionalProductBorder{
  height: 141px;
  border-bottom: 1px solid #c9caca;
  padding: 6px 0;
}
.AdditionalProduct{
  font-size: 0.813em;
  display: flex;
  justify-content: space-between;
  padding-bottom: 2.5px;
}
.AdditionalProductBox{
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.AdditionalProduct strong{
  letter-spacing: -.6px;
  padding-right: 5px;
  font-weight: bold;
  cursor: pointer;
  line-height: 20px;
  position: relative;
}
.AdditionalProduct label{
  font-weight: bold;
  color: #727272;
}
.AdditionalProduct strong::after{
  content: "?";
  background: #a2a2a2;
  color: #fff;
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  text-align: center;
  font-size: 11px;
  line-height: 17px;
  top: 2px;
  right: -15px;
}
.AdditionalProduct strong:hover::after{
  background: #004ea2;
}
.AdditionalProduct span{
  font-weight: bold;
  padding-right: 5px;
}
.AdditionalProduct input{
  width: 50px;
  border: none;
  background: #f0f0f0;
  text-align: center;
  height: 20px;
  font-weight: bold;
}
.AdditionalProduct input:focus{
  outline: none;
}
.AdditionalProduct input:focus::placeholder{
  color: transparent;
}
.viewDetailsRMiddleR label input.inputWidth{
  width: 65px;
}
.minitxtWrap{
  width: 286px;
  height: 103px;
  position: absolute;
  background: #fff;
  border: solid 2px #868686;
  border-radius: 5px;
  display: flex;
  padding :17px;
  gap: 10px;
  top: 137px;
  left: 87px;
}
.miniphoto{
  width: 80px;
  height: 80px;
  background: url(../img/mini.png) no-repeat center;
  position: relative;
  top: -8px;
}
.minitxt{
  width: 158px;
  cursor: pointer;
}
.minitxt p{
  font-size: 0.813em;
  letter-spacing: -0.72px;
  line-height: 1.46;
  color: #9a9a9a;
}
.minitit{
  font-size: 0.938em;
  padding-bottom: 13px;
  letter-spacing: -0.83px;
}
.paddingR{
  letter-spacing: -.3px;  
}
.sum{
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  
}
.sum strong{
  font-size: 1em;
  line-height: 20px;
}
.finalPrice{
  display: flex;
}
.sum .finalPrice .finalPriceBigf{
  font-size: 1.563em;
  color: #004ea2;
  padding-right: 6px;
}
.sum .finalPrice .won{
  font-size: 1.273em;
  color: #004ea2;
  padding-right: 6px;
  line-height: 24px;
}
.finalPriceSmallf{
  font-size: 0.875em;
  padding-top: 2px;
}
.twoBtn{
  text-align: end;
  padding-top: 20px;
}
.twoBtn button{
  width: 130px;
  height: 45px;
  background: #000;
  color: #fff;
  letter-spacing: -1px;
  border: 0;
}
.twoBtn button.margin{
margin-right: -3px;
}
.twoBtn button:hover{
  background: #004ea2;
  border: 0;
}











.selectBoxItem .position .bestProduct td.W100 button{
  width: 76px;
  height: 32px;
  font-weight: normal;
}


.bestProductBottom{
  margin-bottom: 72px;
}
.DetailSigongBtn{
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 2px;
  margin-bottom: 35px;
}
.DetailSigongBtn button{
  width: 25%;
  height: 50px;
  border: none;
  background: #dedede;
  font-size: 1.063em;
  font-weight: bold;
  letter-spacing: -1px;
}
.DetailSigongBtn button.blackBtn{
  background: #000;
  color: #fff;
}
.DetailSigongBtn button:hover{
  background: #000;
  color: #fff;
}
.DetailSigongPhoto{
  width: 100%;
  height: 550px;
  display: flex;
  gap: 17px;
  justify-content: space-between;
}
.DetailSigongPhotoL{
  display: flex;
  flex-wrap: wrap;
  width: 320px;
  gap: 12.5px 17px;
}
.SigongPhoto{
  background: #f2f2f2;
  width: 150px;
  height: 100px;
}
.DetailSigongPhotoR{
  background: red;
  height: 100%;
  width: 1065px;
}
.SigongPhoto1{
  background: url(../img/sigong1.jpg) no-repeat center;
  background-size: cover;
}
.SigongPhoto2{
  background: url(../img/sigong2.jpg) no-repeat center;
  background-size: cover;
}
.SigongPhoto3{
  background: url(../img/sigong3.jpg) no-repeat center;
  background-size: cover;
}
.SigongPhoto4{
  background: url(../img/sigong4.jpg) no-repeat center;
  background-size: cover;
}
.buyImg{
  width: auto;
  height: 100%;
}
.selectBoxItem .bestProduct .buyImg.buyImg1{
  background: url(../img/img16.png) no-repeat center;
  background-size: 60px;
  /* background-size: contain; */
}
.selectBoxItem .bestProduct .buyImg.buyImg2{
  background: url(../img/product17.png) no-repeat center;
  background-size: 60px;
}






.pagination {
    display: inline-block;
    position: relative;
    bottom: -60px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 12px;
    text-decoration: none;
  }
  .fontChange{
    font-family:  cursive;
    letter-spacing: -4px;
  }
  .left{
    position: relative;
    left: -20px;
  }
  .right{
    position: relative;
    right: -16px;
  }













  .selectBoxItem .bestProduct{
    width: 100%;
}
.bestProduct table{
    width: 100%;
}
.selectBoxItem .bestProduct table tr.shadow{
    box-shadow: 0 0 0 4px #004ea2 inset;
    border-bottom: 0;
}