@charset "utf-8";

@import 'nice-select';
@import url(./style.css);
@import url(./font.css);
@import url(./layout.css);
@import url(./all.css);
@import url(./product.css);
@import url(./productDetails.css);

.viewDetailsRTop span{
    font-family: 'NanumSquareB', sans-serif;
}
.colorBoxWrap span, .bigFWrap .m2{
    font-family: 'NanumSquareR', sans-serif;
}
/* .bigFWrap .m2{
    font-family: 'NanumSquareL', sans-serif;
} */


.viewDetailsbottomRFlex{
    display: flex;
    align-items: center;
    justify-content: end;
    padding-bottom: 50px;}

.viewDetailsbottomRFlex span{
    padding-right: 5px;
    font-size: 13px;
    font-weight: bold;
}

.nice-select{
    z-index: 1;
    width: 90px;
    height: 32px;
    line-height: 33px;
}
.nice-select .option.selected{
    width: 88px;
}
#selectNone{
    position: absolute;
    left: -9999%;
}

.viewDetailsRMiddleL{
    gap: 0;
}
.viewDetailsRMiddleL > div::after{
    padding: 6px;
}



.viewDetailsRTop h4{
    padding-right: 20px;
}
.viewDetailsRTop div{
    width: 24px;
    height: 24px;
    background: #584445;
    border-radius: 50%;
    position: relative;
    top: -2px;
}
.viewDetailsRTop span{
    font-size: 0.906em;
    color: #584445;
    line-height: 25px;
    padding-left: 6px;
}
.viewDetailsRTop{
    justify-content: normal;
    width: 100%;
    position: relative;
}
.viewDetailsRTop p{
    position: absolute;
    right: 0;
}
.colorBox{
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background: #000;
    margin-right: 6px;
    border: transparent;
}
.colorBox.colorBoxBr{
    background: #584445;
}
.colorBox.colorBoxG{
    background: #9d9d9d;
}
.colorBox.colorBoxO{
    background: #ff8a00;
}
.colorBox.colorBoxW{
    background: #fff;
    border: solid 1px #d5d6da;
}
.colorBoxWrap{
    display: flex;
    align-items: center;
    padding-bottom: 35px;
}
.colorBoxWrap span{
    padding-right: 11px;
    color: #898989;
    font-size:   0.750em;
}
.colorBoxWrap strong{
    padding-right: 11px;
}
.custom-checkbox-label{
    font-size: 15px;
    display: flex;
    width: 15px;
    justify-content: space-between;
    font-family: 'NanumSquareR', sans-serif !important;
    position: relative;
    display: inline-block;
    cursor: pointer;
    font-weight: bold !important;
    padding-top: 20px;
    margin-right: 7px;
}

.custom-checkbox-label input[type="checkbox"] {
    display: none; 
}

.checkbox-image {
    position: absolute;
    top: 3px;
    left: 0;
    width: 15px; 
    height: 15px; 
    background-image: url('../img/checkbox.png'); 
    background-size: contain; 

}
.custom-checkbox-label input[type="checkbox"]:checked + .checkbox-image {
    background-image: url('../img/checked.png'); 
}
.bigFWrap{
    margin-bottom: 10px;
}
.viewDetailsbottomLBtm p{
    letter-spacing: -.6px;
    width: inherit;
}
.bigFWrap .m2{
    font-size: 1.250em;
    line-height: 2;
}

.sum{
    width: 100%;
    justify-content: right;
    gap: 16px;
}
.twoBtn{
    top: 110px;
}
.mainPhoto{
    background: url(../img/productDetails5.png) no-repeat center;
    background-size: contain;
}
.viewDetailsImgBox1{
    background: url(../img/productDetails5.png) no-repeat center;
    background-size: contain;
}
.viewDetailsImgBox2{
    background: url(../img/productDetails7.png) no-repeat center;
    background-size: contain;
}
.viewDetailsImgBox3{
    background: url(../img/productDetails8.png) no-repeat center;
    background-size: contain;
}
.viewDetailsImgBox4{
    background: url(../img/productDetails9.png) no-repeat center;
    background-size: contain;
}