@charset "utf-8";

@import url(./font.css);
@import url(./layout.css);
@import url(./all.css);

h1,h2, .marginTop, aside, .bestProductName{
    font-family: 'NanumSquareL', sans-serif;
}
select,.concrete, h5, h3 ,.productBoxW ul li:hover a{
    font-family: 'NanumSquareB', sans-serif;
}
h4, h6,  .search input, .btn3 button, .searchBottom p, .login a, .gradationborder, .searchBottom strong, .header .search td, .btn-select,.DepthPdName a ,.DepthPd p, .list-member button, .drawing button, .sigongHide{
    font-family: 'NanumSquareR', sans-serif;
}
.btnWrap button, .snsLogin button, .bannerButton button, .scrollNav ul li a.active{
    font-family: 'NanumSquareEB', sans-serif;
}

.gradationborder{
    letter-spacing: -1px;
    height: 38px;
    display: flex;
    width: 325px;
    margin-top: 15px;
    justify-content: space-between;
}
.bigFont.fontDown{
    height: 38px;
}
.bigFont.fontDown9{
    width: 202px;
    font-size: 0.95em;
    letter-spacing: -1.5px;
}
.bigFont.fontDown3{
    width: 200px;
    font-size: 1.2em;
    line-height: 23px;
}
.bigFont.fontDown4{
    width: 202px;
    font-size: 1.16em;
}
.bigFont.fontDown1{
    font-size: 1.275em;
}
.bigFont.fontDown2{
    font-size: 1.175em;
}
.searchBottom{
    display: flex;
}
.searchBottom strong{
    font-weight: bold;
}


/* jquery로 class추가 */
.scrollNav ul li a.active{
    color: #004ea2;

}

.scrollNav ul li:last-child a.active {
    letter-spacing: -2.1px;
}

.bestPrdWidth{
    position: relative;
}
.drawing{
    position: fixed;
    width: 500px;
    background: #fff;
    border: 5px solid #000;
    z-index: 26;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    text-align: center;
    padding: 20px;
    display: none;
}
.drawingImg{
    width: 100%;
}
.drawing button{
    width: 150px;
    height: 35px;
    background: #283748;
    color: #fff;
    font-size: 0.938em;
    margin: 30px 0 20px;
}



.sigong{
    display: none;
    width: 1035px;
    height: 570px;
    background: #fff;
    border: 5px solid #000;
    position: fixed;
    z-index: 26;
    top: 50%;
    text-align: center;
    left: 50%;
    transform: translate(-50%, -50%);
}
.sigongImg{
    display: flex;
    margin: 20px;
    gap: 20px;
}
.sigongImgL{
    width: 300px;
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    gap: 20px;
    height: 460px;
}
.smallImg{
    width: 140px;
    height: 140px;
    background: #f0f0f0;
}
.smallImg img{
    width: 100%;
    height: 100%;
}
.sigongImgR{
    width: 665px;
    height: 100%;
    height: 460px;
}
.sigongImgR .bigImg img{
    width: 100%;
    height: 100%;
}
.sigongHide{
    width: 150px;
    height: 35px;
    background: #283748;
    color: #fff;
    font-size: 0.938em;
    margin-top: 5px;
}